@tailwind base;
@tailwind components;
@tailwind utilities;    

nav a:hover {
    background-color: black;
  }
  
  
  .contain-container {
    height: auto ;
    min-height: 500px;
    background-color: antiquewhite;
    padding-bottom: 100px;
  }